{% extends "public/templates/base_template.html" %}

{% block title %}Contact{% endblock %}

{% block main %}

<div class="container mb-5 pb-5 mt-5 pt-5 ">
  <div class="col-12 col-lg-5 justify-content-center">
    <div class="contact-info">
      <h4 class="content-title" style="color:#F53163">Contact Info</h4>
      <p class="info-description">Always available for freelance work if the right project comes along, Feel free to contact me!</p>
      <ul class="list-unstyled list-info">
        <li>
          <div class="media align-items-center"><span class="info-icon"><i class="icon ion-logo-ionic"></i></span>
            <div class="media-body info-details">
              <h6 class="info-type">Name</h6><span class="info-value">Sai Prasad</span>
            </div>
          </div>
        </li>
        <li>
          <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-map"></i></span>
            <div class="media-body info-details">
              <h6 class="info-type">Location</h6><span class="info-value">Srikakulam, Andhra Pradesh, India.</span>
            </div>
          </div>
        </li>
        <li>
          <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-call"></i></span>
            <div class="media-body info-details">
              <h6 class="info-type">Call Me</h6><span class="info-value"><a href="tel:+919550003197">+91 955 000 3197</a></span>
            </div>
          </div>
        </li>
        <li>
          <div class="media align-items-center"><span class="info-icon"><i class="icon ion-md-send"></i></span>
            <div class="media-body info-details">
              <h6 class="info-type">Email Me</h6><span class="info-value"><a href="mailto:saiprasadpadhy@gmail.com">saiprasadpadhy@gmail.com</a></span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}