{% extends "public/templates/base_template.html" %}

{% block title %}Similar items{% endblock %}

{% block main %}

<div class="container" id="rcmd_container">

  <div class="row justify-content-center">
      <div class="col-md-3">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{url_for('send_image', filename=image)}}" class="d-block w-100" alt="...">
              </div>
            </div>
      </div>
    </div>
      <div class="col-md-7">
          <p class="newarrival text-center">SELECTED</p>
          <h2>{{ image_name}}</h2>
          <hr>
          <p class="font-italic text-muted mb-0">Product Code : {{ image_name }}</p>
          <ul class="list-inline small pt-3">
              {% for i in range(image_rating) %}
              <li class="list-inline-item m-0"><i class="fa fa-star text-success" style="color: #F53163 !important"></i></li>
              {% endfor %}
          </ul>
          <p class="price"> USD $20.00</p>
          <p><b>Availability : </b>In Stock</p>
          <p><b>Condition : </b>New</p>
          <p><b>Brand : </b>XYZ Company</p>
            <button type="button" class="btn btn-default"></button>
      </div>
</div>

<div class="results"></div>
<div class="container py-5">
  <!-- For Demo Purpose-->
  <header class="text-center mt-5">
    <h3 class="display-4 font-weight-bold" style="color: #F53163 !important">Some more recommended items</h3>
    <p class="font-italic text-muted mb-0">Select any image to get more recommendations!!!</p>
  </header>


  <!-- First Row [Prosucts]-->

  <div class="row pb-5 mb-4">
    {% for item in items %}
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 mt-5">
      <!-- Card-->
      <div class="card rounded shadow-sm border-0">
        <div class="card-body p-4"><img
            src="{{url_for('send_image', filename=item['title'])}}" alt="{{ item['title'] }}"
            class="img-fluid d-block mx-auto mb-3" id="custimg" onclick="route(this.alt)" style="object-fit: cover;
            height: 15vw;
            width: 100%;
            cursor: grab;">
          <h6> <a href="{{ item['URL'] }}" class="text-dark">{{ item['title'][:35]}}...</a></h6>
          <p class="small text-muted font-italic">{{ item['desc'][:55] }}...</p>
          <ul class="list-inline small">
            {% for i in range(item['rating']) %}
            <li class="list-inline-item m-0"><i class="fa fa-star text-success" style="color: #F53163 !important"></i></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}