{% extends "public/templates/base_template.html" %}

{% block title %}Similar items{% endblock %}

{% block main %}
<div class="container">
  <div class="row">

    {% for item in items %}

    <div class="col-md-4">
      <div class="thumbnail">
        <a href="">
          <img src=" {{url_for('send_image', filename=item)}}" style="width:100%">
          <div class="caption">
            <p>{{ item }}</p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}